body, div {
    padding: 0;
    margin: 0;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.ClearFix:after {
    content: "";
    display: block;
    clear: both;
}


body {

}

.imgHeight {
    height: 100%;
}
.imgWidth{
    width:100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 10px 2px 10px rgba(0,223,252,0.3);
    background: rgba(52,56,56,1);
    width: 100%;
}

aside {
    position: fixed;
    top: 60px;
    left: 0;
    background: rgba(52,56,56,1);
    width:10%;
}

article {
    position:fixed;
    top:60px;
    left:10%;
}

.loginImg {
    height: 60px;
    width: 50%;
}
.UserFont{

    color:#fff;
    font-size:24px;
}