@{
    Layout = null;

}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>智能管理系统</title>
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/custom.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script>
        ImgWH();
    </script>
    <script>
        //离开网页时，刷新页面
        window.onpagehide = function () {
            //alert(event.persisted);
        }
        
        window.onpageshow = function (event) {
            //alert(event.persisted);//判断浏览器是否从缓存中读取页面
            //location.replace("Login");//刷新并从服务器端返回新的页面
        }
        function replace() {
            if (history.length != 1) {
                window.location.reload()//刷新当前页面
                //window.location.replace("Index", "Main");
                alert(history.length);
            } else {
                alert(history.length)
            }
        }
        //replace()
        //window.location.replace(window.location.href.toString().replace(window.location.hash, '') + "#" + "hash的值")
            //alert(window.history.length);//输出浏览器历史记录的条数
            $(function () {//屏蔽掉本页浏览器的前进按钮
                if (window.history && window.history.pushState) {
                    $(window).on('popstate', function () {
                        window.history.pushState('forward', null, '#');
                        window.history.forward(1);
                    });
                }
                window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
                window.history.forward(1);
            })
    </script>
</head>
<body id="body" >
    <div class="loginBody">
        <p>
            <img src="~/img/loginLogo.png" style="width:100%" />
        </p>
        <form action="/Data/UserLogin" method="post">
            <p>用户名：<input type="text" name="name" value="" required="required" autocomplete="off" /></p>
            <p>密&nbsp;&nbsp;码：<input type="password" required="required" name="pwd" value="" /></p>
            <p><input type="submit" name="sub" value="Login" /></p>
        </form>
    </div>

</body>
</html>
